<div class="wrapper shadow-lg border border-lightPurpleTransparent p-5 rounded-2xl">
  <form (ngSubmit)="onSubmit()" [formGroup]="createRequestForm" class="request-form">
    <div class="columns-2 gap-5 mb-5">
      <app-input
        formControlName="name"
        [placeholder]="'detailsPage.itemTitle' | translate"
        [error]="(createRequestForm.controls['name'].errors | errorControl) | translate"
        [hasError]="createRequestForm.controls['name'].invalid && createRequestForm.controls['name'].dirty"
      ></app-input>
      <app-input
        formControlName="location"
        [placeholder]="'table.location' | translate"
        [error]="(createRequestForm.controls['location'].errors | errorControl) | translate : {length: 3}"
        [hasError]="createRequestForm.controls['location'].invalid && createRequestForm.controls['location'].dirty"
      ></app-input>
    </div>
    <div class="columns-1 mb-4">
      <app-input
        formControlName="description"
        [error]="(createRequestForm.controls['description'].errors | errorControl) | translate: {length: 10}"
        [hasError]="createRequestForm.controls['description'].invalid && createRequestForm.controls['description'].dirty"
        [placeholder]="'detailsPage.updatedRemark' | translate"></app-input>
    </div>

    <div class="flex items-center justify-center">
      <app-button
        [buttonStyle]="buttonStyle"
        [type]="'submit'"
        [isDisabledButton]="createRequestForm.invalid"
        [content]="'appButtons.confirm' | translate"
      ></app-button>
    </div>
  </form>
</div>
