<div class="flex items-center  mb-4">
  <mat-icon class="icon-info mr-2" svgIcon="ic-help"></mat-icon>
  <span mat-dialog-title class="modal-title">
    {{ modalConfig.title | translate }}
  </span>
</div>
<div
  mat-dialog-actions
  class="flex items-center justify-between">
  <app-button
    *ngIf="modalConfig.cancelBtnText"
    class="cancel-btn"
    mat-dialog-close="close"
    [buttonStyle]="modalConfig.cancelBtnStyle || buttonStyle.Colorless"
    [content]="modalConfig.cancelBtnText | translate">
  </app-button>
  <app-button
    *ngIf="modalConfig.confirmBtnText"
    mat-dialog-close="confirmed"
    [buttonStyle]="modalConfig.confirmBtnStyle || buttonStyle.Outline"
    [content]="modalConfig.confirmBtnText | translate">
  </app-button>
</div>
