<div class="text-lightSilver flex items-center  mb-4">
  <div class="flex flex-col items-center justify-center">
    <mat-icon class="icon-info mb-2" svgIcon="ic-help"></mat-icon>
    <span mat-dialog-title class="modal-title">
    {{ modalConfig.title | translate }}
  </span>
  </div>
</div>
<div
  mat-dialog-actions
  class="flex items-center justify-between">
  <app-button
    *ngIf="modalConfig.cancelBtnText"
    class="cancel-btn"
    mat-dialog-close="close"
    [buttonStyle]="modalConfig.cancelBtnStyle || buttonStyle.Danger"
    [content]="modalConfig.cancelBtnText | translate">
  </app-button>
  <app-button
    *ngIf="modalConfig.confirmBtnText"
    mat-dialog-close="confirmed"
    [buttonStyle]="modalConfig.confirmBtnStyle || buttonStyle.Outline"
    [content]="modalConfig.confirmBtnText | translate">
  </app-button>
</div>
