@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/normalize';
@import './styles/default.theme';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--darkGray);
  background: theme('colors.white');
}

// Scroll customization
* {
  scrollbar-width: thin;
  //TODO: change color
  //scrollbar-color: var(--) var(--);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  //TODO: change color
  //background: var(--);
}

*::-webkit-scrollbar-thumb {
  //TODO: change color
  //background-color: var(--);
  border-radius: 24px;
}