<div class="wrapper h-full p-6 py-12 sm:p-8 md:p-10">
  <h2 class="font-medium">{{'titles.requests' | translate}}</h2>

  <div class="py-10 h-full flex flex-col">
    <div class="mb-6 flex justify-between items-center">
      <app-input
        icon="ic-search"
        [formControl]="searchInput"
        [placeholder]="'requests.searchPlaceholder' | translate"
      >
      </app-input>

      <app-button
        [icon]="isShowCreateForm ? 'ic-close' : 'ic-create'"
        [buttonStyle]="isShowCreateForm ? buttonStyle.Danger : buttonStyle.Pale"
        iconPosition="start"
        (click)="isShowCreateForm = !isShowCreateForm"
        [content]="(isShowCreateForm ? 'appButtons.cancel' : 'requests.createRequest' ) | translate"
      ></app-button>
    </div>

    <app-create-form @fade
                     [createForm]="createRequestForm"
                     (onSubmitForm)="createRequest()"
                     *ngIf="isShowCreateForm"
                     class="mx-auto w-full max-w-3xl mb-6 block"></app-create-form>

    <mat-tab-group
      [dynamicHeight]="true"
      (selectedTabChange)="changeTab()"
      mat-align-tabs="center"
      class="pt-3"
    >
      <ng-container *ngIf="(viewModel$ | async) as vm">
        <mat-tab>
          <ng-template mat-tab-label>{{'requests.allRequests' | translate}}</ng-template>
          <ng-container
            [ngTemplateOutlet]="gridTemplate"
            [ngTemplateOutletContext]="{rowData: vm.requests, colDefs: colDefs,pageSize: paginationConfig.itemsPerPage}">
          </ng-container>
        </mat-tab>
      </ng-container>

      <ng-container *ngIf="(ownHelpRequests$ | async) as ownRequests">
        <mat-tab>
          <ng-template mat-tab-label>{{'requests.myRequests' | translate}}</ng-template>
          <ng-container
            [ngTemplateOutlet]="gridTemplate"
            [ngTemplateOutletContext]="{rowData: ownRequests.requests | paginate : paginationConfig, colDefs: colDefs,pageSize: paginationConfig.itemsPerPage}">
          </ng-container>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>

<ng-template
    #gridTemplate
    let-rowData='rowData'
    let-colDefs='colDefs'
    let-pageSize='pageSize'
    let-gridId='gridId'
>
  <ag-grid-angular
    [paginationAutoPageSize]="true"
    [pagination]="true"
    class="ag-theme-alpine w-full flex-grow"
    [rowData]="rowData | paginate : paginationConfig"
    [columnDefs]="colDefs"
    [rowHeight]="73"
    [paginationPageSize]="pageSize"
    [suppressPaginationPanel]="true"
    [suppressScrollOnNewData]="true"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

  <div class="flex justify-end">
    <app-pagination (onPageChange)="setPage($event)" [config]="paginationConfig"></app-pagination>
  </div>
</ng-template>
